@import 'https://fonts.googleapis.com/css?family=Rajdhani';
body{
	font-family: 'Rajdhani', sans-serif;
	margin: 0 auto;
}

header{
	display: block;
	position: fixed;
	background-color: #8EA3BE;
	height: 100px;
	box-sizing: border-box;
	width: 100%;
	z-index: 9999999999999;
	text-align: center;
}
h1{
	font-size: 32px;
	
}
header div{
	display: inline-block;
	vertical-align: middle;
	color: #212C40;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 20px;
	box-sizing: border-box;

}
header div ul{

}
header div li{
	display: inline-block;
	font-size: 20px;
	padding-left: 10px;
	font-weight: bold;
}
header div li a{
	text-decoration: none;
	color: #212C40;
}
header div li a:hover{
	color: #fff;
}
header .menu{
	right: 30px;
	float: right;
}
.content{
	padding-top: 100px;
}
.slide{
	background-color: #404E68;
	color: #fff;
	padding-top: 50px;
	box-sizing: border-box;
	padding-left: 50px;
	padding-right: 50px;
}
.slide li{
	padding-top: 15px;
	padding-bottom: 15px;
}
.slide li h2{
	font-size: 74px;
	color: #fff;
	font-weight: bold;
}
.slide li p{
	font-size: 28px;
}
.slide li ul{
	padding-top: 20px;
	padding-bottom: 20px;
}
.slide li li{
	display: inline;
	font-size: 32px;
	font-weight: bold;
	padding-right: 15px;
}
.slide div h4{
	text-align: center;
	padding-bottom: 20px;
	width: 200px;
	margin: 0 auto;
	
	font-size: 40px;
	font-weight: bold;
}
.slide div a{
	text-decoration: none;
	color: #E59728;
}
.slide div a:hover{
	color: #79DB32;
}
@media(max-width: 1280px){
	header div{
		padding-top: 3px;
	}
}
@media(max-width: 1024px){
	body{
		width: 100%;
	}
	header div ul{
		padding-top: 3px;
		
	}	
}
@media(max-width: 768px){
	body{
		width: 100%;
	}
	header{
		text-align: center;
		padding-right: 0px;
		padding-left: 0px;
	}
	header div img{
		width: 60%;
		height: auto;
	}
	header div{
		padding-top: 3px;
		padding-right: 0px;
		padding-left: 0px;
	}
	header div ul{
		padding-top: 3px;
	}
	header div li{
		
	}
	h1{
		font-size: 26px;
		padding-top: 5px;
	}
	.slide{
		text-align: center;
		padding-top: 50px;
	}
	.slide li{
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.slide li h2{
		font-size: 24px;
	}
	.slide li p{
		font-size: 14px;
	}
	.slide li li{
		display: inline;
		font-size: 16px;
		font-weight: bold;
		padding-right: 7px;
	}
}
@media(max-width: 485px){
	h1{
			font-size: 22px;
			padding-top: 3px;
		}
	header div li{
		font-size: 14px;
		padding-top: 0px;
	}	
}
section div .elemento{
	position: relative;
	left: 0px;
	top: 0px;
	
	text-align: center;
}
section div .elemento img{
 	width: 100%;
 	margin: 0px;
 	padding: 0px;
 	border: 0px;
}

section div .elemento p.descrip{
	width: 100%;
	background-color: rgba(0,99,159,0.6);
	position: absolute;
	bottom: 20px;
	color: #fff;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 14px;
}

.bloque{
	margin: 0 auto;
  	width: 80%;
  	padding-top: 30px;
	padding-bottom: 30px;
}
h2{
	font-size: 40px;
	color: #00639F;
	font-weight: bold;
}
h3{
	font-size: 25px;
}
.bloque1 div{
	padding-top: 20px;
	padding-bottom: 20px;
}
.bloque div p{
	line-height: 28px;
}
.bloque2{
	background-color: #293744;
	width: 100%;
	padding-right: 10%;
	padding-left: 10%;
	box-sizing: border-box;
	text-align: center;
}
.bloque2 h2{
	color: #fff;
}
.bloque2 div{
	padding-top: 20px;
}
.ponente{
	clear: left;
	display: inline-block;
	min-width: 250px;
	max-height: 332px;
	width: 30%;
	height: auto;
	margin: 5px;
	padding: 5px;
	text-align: center;
	box-sizing: border-box;
	color: #fff;
}
.ponente h3{
	font-weight: bold;
	padding-top: 5px;
}
.bloque2 div img{
	border-radius: 50%;
	border: 5px solid #00639F;
	width: 80%;
	height: auto;

}
.bloque4{
	background-color: #7A818B;
	width: 100%;
	padding-right: 10%;
	padding-left: 10%;
	box-sizing: border-box;
}
.bloque4 h2{
	color: #fff;
}
.bloque4 ul{
	text-align: center;	
}
.bloque4 li{
	padding-left: 30px;
	padding-right: 30px;
	display: inline;
}
footer{
	text-align: center;
	color: #fff;
	background-color: #070803;
	width: 100%;
	height: auto;

}
footer div{
	padding-top: 10px;
	padding-bottom: 10px;
	
}
footer div div li{
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
}
